name: Release-plz

on:
  workflow_run:
    workflows: ["rust"]
    branches: [master]
    types:
      - completed

jobs:
  # Release unpublished packages.
  release-plz-release:
    name: Release-plz release
    runs-on: windows-latest
    if: github.repository == 'Atliac/wgc'
    permissions:
      contents: write # To push tags and releases
      id-token: write # <--- REQUIRED for Trusted Publishing
    steps:
      - &checkout
        name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - &install-rust
        name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - &rust-cache
        name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Run release-plz
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}

  # Create a PR with the new versions and changelog, preparing the next release.
  release-plz-pr:
    name: Release-plz PR
    runs-on: windows-latest
    if: github.repository == 'Atliac/wgc'
    permissions:
      contents: write
      pull-requests: write
      id-token: write # <--- REQUIRED for Trusted Publishing
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - *checkout
      - *install-rust
      - *rust-cache
      - name: Run release-plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
